.body{
	background-image: url("images/white-train.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Karla', sans-serif;
}

.container{
	width: 1500px;
}

.title{
	text-align: center;
	font-size: 70px;
	margin-bottom: 30px;
	color: #a89861;
}

#column{
	background:rgba(255,255,255, 0.8)
}

#trainSchedule, #addTrain{
	background-color: transparent;
	border: none;

}


#currentPanelHeader, #addPanelHeader{
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	color: #a89861;
	font-weight: bold;
}

#table, .form-group{
	font-size: 18px;
}

#name, #destination, #firstTrain, #frequency{
	background:rgba(196,196,196, 0.6)

}

#submit{
	width: 150px;
	margin: 0 auto;
	display: block;
	background-color: #a89861; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
}
   